# Log-Dateien und temporäre Dateien
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/coverage
/.nyc_output

# Hardhat spezifische Dateien
/artifacts
/cache
/typechain-types

# Node.js Abhängigkeiten
/node_modules
/dapp-frontend/node_modules

# Frontend Build-Ordner
/dapp-frontend/dist

# Umgebungs-Variablen (für sensible Daten wie Private Keys oder API-Keys)
.env
.env.*
!.env.example

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db